* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap:wrap;
  width: 900px;
  margin: 3rem auto 3rem auto;
  align-content:space-between;
  justify-content: right;
}

.dividingLine{
  display: block;
  background: repeating-linear-gradient(45deg, transparent 1px, rgb(206, 204, 204) 4px);
  height: 0.7rem;
  width:100%;
  margin-top: 3rem;
}

header section{
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content:space-between;
  width:845px;
  height: 45px;
  margin-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 9.5px;
  color: gray;
}

header section div h3{
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  font-weight: 700;
  color:black
}

#socialMedia{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: fit-content;
}

#socialMedia li{
  margin:1px;
}

#socialMedia li:nth-last-child(2){
  margin-left:10px
}

main {
  display: flex;
  flex-wrap:wrap;
  width: 900px;
  margin: 3rem auto 3rem auto;
  align-content:space-between;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 800;
  width: 100%;
}

#print-icon{
  margin-right: 0;
  width: fit-content;
}

main div{ 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content:space-between;
  width:900px;
  margin-bottom:2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: gray;
}

article p{
  margin: 2rem 0;
}

main ul{
  background-image: url("../img/list-bg.png");
  width: 100%;
  columns:2;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  padding: 2.1rem 5rem 1rem 4rem;
  margin-bottom: 2rem;
  column-gap: 80px;
}

main ul li{
  width: fit-content;
  /* color:brown; */
  margin: 11px 0 0 0;
}

main section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

main section h3{
  margin-bottom: 10px;
  color: rgb(34, 31, 31);
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main section p{
  color: rgba(34, 31, 31, 0.685);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#author{
  width: 630px;
  margin:auto;
}
main section div:last-child{
  background-color: rgba(163, 67, 29, 0.87);
  width: fit-content;
  /* border: 2px solid black; */
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1rem;

}

main section div:last-child a{
  color: aliceblue;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

footer{
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  width: 900px;
  margin: 0 auto 2rem auto;
  color:rgba(10, 2, 32, 0.466);
}

footer hr {
  z-index: 1;
  background-color:rgba(10, 2, 32, 0.322);
  display: block;
  position:absolute;
  height: 3px;
  opacity: 40%;
  margin-top: 20px;
  width:900px;
}

footer figure{
  background-color: white;
  z-index: 2;
  position: absolute;
  margin: 0 auto auto auto;
  color-scheme: rgba(10, 2, 32, 0.322);

}

footer figure img{
  z-index: 3;
  filter: opacity(0.8);
}

footer section{
  display: inline-block;
  text-align: center;
  width: 900px;
  margin-top: 5rem;
}

.strike-thru:checked +label{
  text-decoration: line-through;
}